@import "tailwindcss";

@font-face {
  font-family: bricolage;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf");
}
@font-face {
  font-family: dm-sans-regular;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Medium.ttf");
}
@font-face {
  font-family: dm-sans-light;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Light.ttf");
}
@font-face {
  font-family: dm-sans-bold;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Bold.ttf");
}
@font-face {
  font-family: dm-sans-semiBold;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
}
@font-face {
  font-family: dm-sans-italic;
  font-display: swap;
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf");
}

@theme {
  /* neutral colors */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-orange-500: hsl(28, 100%, 52%);

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  --font-dm-sans: "dm-sans-regular", sans-serif;
  --font-dm-sans-light: "dm-sans-light", sans-serif;
  --font-dm-sans-bold: "dm-sans-bold", sans-serif;
  --font-dm-sans-semiBold: "dm-sans-semiBold", sans-serif;
  --font-bricolage: "bricolage", sans-serif;
  --font-dm-sans-italic: "dm-sans-italic", sans-serif;

  --text-present-1: 6rem;
  --text-present-2: 3.25rem;
  --text-present-3: 2rem;
  --text-present-4: 1.7rem;
  --text-present-5: 1.25rem;
  --text-present-6: 1.125rem;
  --text-present-7: 1rem;
  --text-present-8: 0.875rem;

  --spacing-0: 0rem;
  --spacing-025: 0.125rem;
  --spacing-050: 0.25rem;
  --spacing-075: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-125: 0.625rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1200: 6rem;
  --spacing-1400: 7rem;
  --spacing-1600: 8rem;
  --spacing-1800: 8.75;
}

@layer base {
  body {
    font-family: var(--font-dm-sans);
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-0);
  }
  button {
    cursor: pointer;
  }
}
@layer utilities {
  .bg-today-small {
    background-image: url("@/assets/images/bg-today-small.svg");
  }
}
@layer components {
  .current-weather img {
    @apply w-50;
  }
}
